*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
 
}
.inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap{
  position: fixed;
  bottom: 10px;
  right: 10px;

}
#btn{
  background-color: rebeccapurple;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

.toast{
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem;
  transition: all .9s ease-out;
}